*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    background: linear-gradient(to right,rgb(47, 47, 48),black);
    height: 100vh;
    width: 100%;
}


.slider{
    
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    height: 100vh;
    width: 100%;
}



img{
    height: 300px;
    /* width: 180px; */
    border-radius: 10px;
    transform-style: preserve-3d;
    animation: rotate 20s linear infinite;
    
}

img:hover{
    animation-play-state: paused;
    /* animation-delay: 0; */
}

@keyframes rotate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}

.imgani{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 20px;
}



